/*!
 * Generated using the Bootstrap Customizer (https://getbootstrap.com/docs/3.4/customize/)
 */
/*!
 * Bootstrap v3.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */



@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */

    .single-product .product-breadcrumbs, .archive .product-breadcrumbs {
      position: relative !important;
    }


    .single-product .product-breadcrumbs, .archive .product-breadcrumbs {
      padding-top: 10px;
    }

    html .single-product .single-product-section, .archive .category-template, .single-product-section {
      padding-top:100px !important;
    }

    html {
      font-family: sans-serif;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }
    .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    .ie-ie-row {
      margin-right: -15px;
      margin-left: -15px;
    }
    .ie-row-no-gutters {
      margin-right: 0;
      margin-left: 0;
    }
    .ie-row-no-gutters [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
    .col-ie-xs-1, .col-ie-sm-1, .col-ie-md-1, .col-lg-1, .col-ie-xs-2, .col-ie-sm-2, .col-ie-md-2, .col-lg-2, .col-ie-xs-3, .col-ie-sm-3, .col-ie-md-3, .col-lg-3, .col-ie-xs-4, .col-ie-sm-4, .col-ie-md-4, .col-lg-4, .col-ie-xs-5, .col-ie-sm-5, .col-ie-md-5, .col-lg-5, .col-ie-xs-6, .col-ie-sm-6, .col-ie-md-6, .col-lg-6, .col-ie-xs-7, .col-ie-sm-7, .col-ie-md-7, .col-lg-7, .col-ie-xs-8, .col-ie-sm-8, .col-ie-md-8, .col-lg-8, .col-ie-xs-9, .col-ie-sm-9, .col-ie-md-9, .col-lg-9, .col-ie-xs-10, .col-ie-sm-10, .col-ie-md-10, .col-lg-10, .col-ie-xs-11, .col-ie-sm-11, .col-ie-md-11, .col-lg-11, .col-ie-xs-12, .col-ie-sm-12, .col-ie-md-12, .col-lg-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .col-ie-xs-1, .col-ie-xs-2, .col-ie-xs-3, .col-ie-xs-4, .col-ie-xs-5, .col-ie-xs-6, .col-ie-xs-7, .col-ie-xs-8, .col-ie-xs-9, .col-ie-xs-10, .col-ie-xs-11, .col-ie-xs-12 {
      float: left;
    }

    .product-list .col-ie-sm-4 {
      float: right;
    }


    .col-ie-xs-12 {
      width: 100%;
    }
    .col-ie-xs-11 {
      width: 91.66666667%;
    }
    .col-ie-xs-10 {
      width: 83.33333333%;
    }
    .col-ie-xs-9 {
      width: 75%;
    }
    .col-ie-xs-8 {
      width: 66.66666667%;
    }
    .col-ie-xs-7 {
      width: 58.33333333%;
    }
    .col-ie-xs-6 {
      width: 50%;
    }
    .col-ie-xs-5 {
      width: 41.66666667%;
    }
    .col-ie-xs-4 {
      width: 33.33333333%;
    }
    .col-ie-xs-3 {
      width: 25%;
    }
    .col-ie-xs-2 {
      width: 16.66666667%;
    }
    .col-ie-xs-1 {
      width: 8.33333333%;
    }
    .col-xs-pull-12 {
      right: 100%;
    }
    .col-xs-pull-11 {
      right: 91.66666667%;
    }
    .col-xs-pull-10 {
      right: 83.33333333%;
    }
    .col-xs-pull-9 {
      right: 75%;
    }
    .col-xs-pull-8 {
      right: 66.66666667%;
    }
    .col-xs-pull-7 {
      right: 58.33333333%;
    }
    .col-xs-pull-6 {
      right: 50%;
    }
    .col-xs-pull-5 {
      right: 41.66666667%;
    }
    .col-xs-pull-4 {
      right: 33.33333333%;
    }
    .col-xs-pull-3 {
      right: 25%;
    }
    .col-xs-pull-2 {
      right: 16.66666667%;
    }
    .col-xs-pull-1 {
      right: 8.33333333%;
    }
    .col-xs-pull-0 {
      right: auto;
    }
    .col-xs-push-12 {
      left: 100%;
    }
    .col-xs-push-11 {
      left: 91.66666667%;
    }
    .col-xs-push-10 {
      left: 83.33333333%;
    }
    .col-xs-push-9 {
      left: 75%;
    }
    .col-xs-push-8 {
      left: 66.66666667%;
    }
    .col-xs-push-7 {
      left: 58.33333333%;
    }
    .col-xs-push-6 {
      left: 50%;
    }
    .col-xs-push-5 {
      left: 41.66666667%;
    }
    .col-xs-push-4 {
      left: 33.33333333%;
    }
    .col-xs-push-3 {
      left: 25%;
    }
    .col-xs-push-2 {
      left: 16.66666667%;
    }
    .col-xs-push-1 {
      left: 8.33333333%;
    }
    .col-xs-push-0 {
      left: auto;
    }
    .col-xs-offset-12 {
      margin-left: 100%;
    }
    .col-xs-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-xs-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-xs-offset-9 {
      margin-left: 75%;
    }
    .col-xs-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-xs-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-xs-offset-6 {
      margin-left: 50%;
    }
    .col-xs-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-xs-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-xs-offset-3 {
      margin-left: 25%;
    }
    .col-xs-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-xs-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-xs-offset-0 {
      margin-left: 0%;
    }

}


/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}*/


@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-width: 768px) {
      /* IE10+ CSS styles go here */
      .col-ie-sm-1, .col-ie-sm-2, .col-ie-sm-3, .col-ie-sm-4, .col-ie-sm-5, .col-ie-sm-6, .col-ie-sm-7, .col-ie-sm-8, .col-ie-sm-9, .col-ie-sm-10, .col-ie-sm-11, .col-ie-sm-12 {
        float: left;
      }
      .col-ie-sm-12 {
        width: 100%;
      }
      .col-ie-sm-11 {
        width: 91.66666667%;
      }
      .col-ie-sm-10 {
        width: 83.33333333%;
      }
      .col-ie-sm-9 {
        width: 75%;
      }
      .col-ie-sm-8 {
        width: 66.66666667%;
      }
      .col-ie-sm-7 {
        width: 58.33333333%;
      }
      .col-ie-sm-6 {
        width: 50%;
      }
      .col-ie-sm-5 {
        width: 41.66666667%;
      }
      .col-ie-sm-4 {
        width: 33.33333333%;
      }
      .col-ie-sm-3 {
        width: 25%;
      }
      .col-ie-sm-2 {
        width: 16.66666667%;
      }
      .col-ie-sm-1 {
        width: 8.33333333%;
      }
      .col-sm-pull-12 {
        right: 100%;
      }
      .col-sm-pull-11 {
        right: 91.66666667%;
      }
      .col-sm-pull-10 {
        right: 83.33333333%;
      }
      .col-sm-pull-9 {
        right: 75%;
      }
      .col-sm-pull-8 {
        right: 66.66666667%;
      }
      .col-sm-pull-7 {
        right: 58.33333333%;
      }
      .col-sm-pull-6 {
        right: 50%;
      }
      .col-sm-pull-5 {
        right: 41.66666667%;
      }
      .col-sm-pull-4 {
        right: 33.33333333%;
      }
      .col-sm-pull-3 {
        right: 25%;
      }
      .col-sm-pull-2 {
        right: 16.66666667%;
      }
      .col-sm-pull-1 {
        right: 8.33333333%;
      }
      .col-sm-pull-0 {
        right: auto;
      }
      .col-sm-push-12 {
        left: 100%;
      }
      .col-sm-push-11 {
        left: 91.66666667%;
      }
      .col-sm-push-10 {
        left: 83.33333333%;
      }
      .col-sm-push-9 {
        left: 75%;
      }
      .col-sm-push-8 {
        left: 66.66666667%;
      }
      .col-sm-push-7 {
        left: 58.33333333%;
      }
      .col-sm-push-6 {
        left: 50%;
      }
      .col-sm-push-5 {
        left: 41.66666667%;
      }
      .col-sm-push-4 {
        left: 33.33333333%;
      }
      .col-sm-push-3 {
        left: 25%;
      }
      .col-sm-push-2 {
        left: 16.66666667%;
      }
      .col-sm-push-1 {
        left: 8.33333333%;
      }
      .col-sm-push-0 {
        left: auto;
      }
      .col-sm-offset-12 {
        margin-left: 100%;
      }
      .col-sm-offset-11 {
        margin-left: 91.66666667%;
      }
      .col-sm-offset-10 {
        margin-left: 83.33333333%;
      }
      .col-sm-offset-9 {
        margin-left: 75%;
      }
      .col-sm-offset-8 {
        margin-left: 66.66666667%;
      }
      .col-sm-offset-7 {
        margin-left: 58.33333333%;
      }
      .col-sm-offset-6 {
        margin-left: 50%;
      }
      .col-sm-offset-5 {
        margin-left: 41.66666667%;
      }
      .col-sm-offset-4 {
        margin-left: 33.33333333%;
      }
      .col-sm-offset-3 {
        margin-left: 25%;
      }
      .col-sm-offset-2 {
        margin-left: 16.66666667%;
      }
      .col-sm-offset-1 {
        margin-left: 8.33333333%;
      }
      .col-sm-offset-0 {
        margin-left: 0%;
      }
}



@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-width: 992px) {
      /* IE10+ CSS styles go here */

    .col-ie-md-1, .col-ie-md-2, .col-ie-md-3, .col-ie-md-4, .col-ie-md-5, .col-ie-md-6, .col-ie-md-7, .col-ie-md-8, .col-ie-md-9, .col-ie-md-10, .col-ie-md-11, .col-ie-md-12 {
      float: left;
    }
    .col-ie-md-12 {
      width: 100%;
    }
    .col-ie-md-11 {
      width: 91.66666667%;
    }
    .col-ie-md-10 {
      width: 83.33333333%;
    }
    .col-ie-md-9 {
      width: 75%;
    }
    .col-ie-md-8 {
      width: 66.66666667%;
    }
    .col-ie-md-7 {
      width: 58.33333333%;
    }
    .col-ie-md-6 {
      width: 50%;
    }
    .col-ie-md-5 {
      width: 41.66666667%;
    }
    .col-ie-md-4 {
      width: 33.33333333%;
    }
    .col-ie-md-3 {
      width: 25%;
    }
    .col-ie-md-2 {
      width: 16.66666667%;
    }
    .col-ie-md-1 {
      width: 8.33333333%;
    }
    .col-md-pull-12 {
      right: 100%;
    }
    .col-md-pull-11 {
      right: 91.66666667%;
    }
    .col-md-pull-10 {
      right: 83.33333333%;
    }
    .col-md-pull-9 {
      right: 75%;
    }
    .col-md-pull-8 {
      right: 66.66666667%;
    }
    .col-md-pull-7 {
      right: 58.33333333%;
    }
    .col-md-pull-6 {
      right: 50%;
    }
    .col-md-pull-5 {
      right: 41.66666667%;
    }
    .col-md-pull-4 {
      right: 33.33333333%;
    }
    .col-md-pull-3 {
      right: 25%;
    }
    .col-md-pull-2 {
      right: 16.66666667%;
    }
    .col-md-pull-1 {
      right: 8.33333333%;
    }
    .col-md-pull-0 {
      right: auto;
    }
    .col-md-push-12 {
      left: 100%;
    }
    .col-md-push-11 {
      left: 91.66666667%;
    }
    .col-md-push-10 {
      left: 83.33333333%;
    }
    .col-md-push-9 {
      left: 75%;
    }
    .col-md-push-8 {
      left: 66.66666667%;
    }
    .col-md-push-7 {
      left: 58.33333333%;
    }
    .col-md-push-6 {
      left: 50%;
    }
    .col-md-push-5 {
      left: 41.66666667%;
    }
    .col-md-push-4 {
      left: 33.33333333%;
    }
    .col-md-push-3 {
      left: 25%;
    }
    .col-md-push-2 {
      left: 16.66666667%;
    }
    .col-md-push-1 {
      left: 8.33333333%;
    }
    .col-md-push-0 {
      left: auto;
    }
    .col-md-offset-12 {
      margin-left: 100%;
    }
    .col-md-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
      margin-left: 75%;
    }
    .col-md-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
      margin-left: 50%;
    }
    .col-md-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
      margin-left: 25%;
    }
    .col-md-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
      margin-left: 0%;
    }
}


@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-width: 1200px) {
      /* IE10+ CSS styles go here */
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-12 {
      width: 100%;
    }
    .col-lg-11 {
      width: 91.66666667%;
    }
    .col-lg-10 {
      width: 83.33333333%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-8 {
      width: 66.66666667%;
    }
    .col-lg-7 {
      width: 58.33333333%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-5 {
      width: 41.66666667%;
    }
    .col-lg-4 {
      width: 33.33333333%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-2 {
      width: 16.66666667%;
    }
    .col-lg-1 {
      width: 8.33333333%;
    }
    .col-lg-pull-12 {
      right: 100%;
    }
    .col-lg-pull-11 {
      right: 91.66666667%;
    }
    .col-lg-pull-10 {
      right: 83.33333333%;
    }
    .col-lg-pull-9 {
      right: 75%;
    }
    .col-lg-pull-8 {
      right: 66.66666667%;
    }
    .col-lg-pull-7 {
      right: 58.33333333%;
    }
    .col-lg-pull-6 {
      right: 50%;
    }
    .col-lg-pull-5 {
      right: 41.66666667%;
    }
    .col-lg-pull-4 {
      right: 33.33333333%;
    }
    .col-lg-pull-3 {
      right: 25%;
    }
    .col-lg-pull-2 {
      right: 16.66666667%;
    }
    .col-lg-pull-1 {
      right: 8.33333333%;
    }
    .col-lg-pull-0 {
      right: auto;
    }
    .col-lg-push-12 {
      left: 100%;
    }
    .col-lg-push-11 {
      left: 91.66666667%;
    }
    .col-lg-push-10 {
      left: 83.33333333%;
    }
    .col-lg-push-9 {
      left: 75%;
    }
    .col-lg-push-8 {
      left: 66.66666667%;
    }
    .col-lg-push-7 {
      left: 58.33333333%;
    }
    .col-lg-push-6 {
      left: 50%;
    }
    .col-lg-push-5 {
      left: 41.66666667%;
    }
    .col-lg-push-4 {
      left: 33.33333333%;
    }
    .col-lg-push-3 {
      left: 25%;
    }
    .col-lg-push-2 {
      left: 16.66666667%;
    }
    .col-lg-push-1 {
      left: 8.33333333%;
    }
    .col-lg-push-0 {
      left: auto;
    }
    .col-lg-offset-12 {
      margin-left: 100%;
    }
    .col-lg-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
      margin-left: 75%;
    }
    .col-lg-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
      margin-left: 50%;
    }
    .col-lg-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
      margin-left: 25%;
    }
    .col-lg-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
      margin-left: 0%;
    }
}


@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS styles go here */
    .clearfix:before,
    .clearfix:after,
    .container:before,
    .container:after,
    .container-fluid:before,
    .container-fluid:after,
    .ie-row:before,
    .ie-row:after {
      display: table;
      content: " ";
    }
    .clearfix:after,
    .container:after,
    .container-fluid:after,
    .ie-row:after {
      clear: both;
    }
    .center-block {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    .pull-right {
      float: right !important;
    }
    .pull-left {
      float: left !important;
    }
    .hide {
      display: none !important;
    }
    .show {
      display: block !important;
    }
    .invisible {
      visibility: hidden;
    }
    .text-hide {
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
    }
    .hidden {
      display: none !important;
    }
    .affix {
      position: fixed;
    }
}
