/**
 * Template: India Custom CSS
**/

/*Testimonial Slider*/
/*.brand-carousel .slick-track .slick-slide>div .brand .image-container {
    display: none;
}*/

/*.brand .date {
    text-align: right;
}*/


.testimonial-content {
    min-height: 150px;
}

.brand-carousel .slick-track .slick-slide>div .brand .flex {
    display: flex!important;
    flex-direction: column;
    height: 100%;
    padding: 0 10px 0px !important;
}


/*Home Banner*/

.home .banner .content {
    width: 100% !important;
    padding: 0px 0 70px 0 !important;
}

@media screen and (max-width: 768px) { 
	.home .background-wrapper {
	    background-size: cover;
	    background-position: center !important;
	}
	.home .banner .content {
	    padding: 50px 0px 150px 0!important;
	    text-align: center;
	}
}

/*Slider buttons*/

.slick-dots button:before {
    font-family: slick !important;
    font-size: 45px !important;
    line-height: 20px !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 10px !important;
    height: 10px !important;
    content: "\2022" !important;
    border: 1px solid #d31145 !important;
    text-align: center !important;
    opacity: 1 !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: transparent !important;
}

/*Contact Form*/
/*.gravity-form h2.block-title {
    color: #d31145;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-right: 1rem;
    font-size: 2.25rem;
}
*/

.leadership-grid .flex .person .text-container .name {
    margin-bottom: .1em !important;
}

.leadership-grid h2.name {
    font-size: 1.8rem;
}



