/**
 * Theme Name: Richs.com Child Wordpress Theme
 * Theme URI: benchmark.digital
 * Description: Richs.com Child Wordpress Theme - use this theme for making recipe edits
 * Version: 2.0.0
 * Author: Benchmark
 * Template: richs.com-wordpress-theme
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags:
 * Text Domain: hashone-child
 * Template: hashone
 */

.slick-track {
  float: left;
}

.single-recipes #site-header #main-nav,
.archive #site-header #main-nav {
  background: #a30531;
  /*    min-height: 90px;*/
}

.single-product #site-header #main-nav,
.archive #site-header #main-nav, .tax-product_categories #site-header #main-nav{
  background: #a30531;
  /*min-height: 90px;*/
  min-height: 120px;
}

.single-product div#main-nav.fixed {
    height: 117px !important;
}

/*.product-breadcrumbs  {
  margin-top: 60px !important;
}*/

.single-recipes .product-breadcrumbs{
  z-index: 20;
  position: fixed;
  width: 100%;
  top: 60px;
}

.single-product .product-breadcrumbs,
.archive .product-breadcrumbs {
  z-index: 20;
  position: fixed;
  width: 100%;
/*  top: 60px; */
/*  top: 30px;*/
}

.single-recipes .single-product-section,
.archive .category-template {
  padding-top: 220px !important;
}

.single-product .single-product-section,
.archive .category-template {
  padding-top: 220px !important;
}

p.recipe-tag {
  background-image: url(images/tag.svg);
  background-repeat: no-repeat, repeat;
  height: 31px;
  color: #fff;
  padding: 3px 10px;
}

.recipe-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.single-product .recipe-details:before {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .product-breadcrumbs {
      display: none !important;
  }
  .single-product .single-product-section, .archive .category-template, .single-recipes .single-product-section, .archive .category-template {
    padding-top: 50px !important;
  }
}

/* ------------------------- Product List ---------------------- */

.recipe-details img {
  display: inline;
  width: 40px;
  height: auto;
}

.recipe-details p span {
  color: #898989 !important;
}

.recipe-details p {
  font-family: Verdana;
  font-size: 14px;
  display: inline;
}

.recipe-details span {
  font-family: Verdana;
  font-size: 14px;
  text-transform: lowercase;
}

.recipe-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .recipe-details {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}

ol {
  list-style: disc !important;
  margin-left: 25px;
}

/*.recipe-video {
  max-height: 100px !important;
}*/

.single-recipe-container .embed-container iframe {
  max-width: 100% !important;
}

.single-recipe-container .tips h3 {
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  .single-recipe-container .container.row.tips {
    background: #f3f3f3f3;
    padding: 50px 40px;
    margin-top: 10px;
  }
  .single-recipe-container .tip-image {
    height: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .single-recipe-container .container.row.tips {
    background: #f3f3f3f3;
    padding: 30px 20px;
    margin-top: 10px;
    text-align: center;
  }
  .single-recipe-container .tip-image {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
  }
}

/*Breadcrumbs*/
.archive .product-breadcrumbs.fixed-crumb,
.fixed-crumb {
    /*top: 30px !important;*/
    top: 0px !important;
}
